@use 'section-description';
@use 'section-main';
@use 'section-favourites';
@use '../../../styles/core/mixins.scss' as *;

.container_item_card {
  background-color: var(--color-black);
  width: 100%;
  padding-inline: 16px;
  box-sizing: border-box;

  @include inline-padding;
}

.item-card-section-main,
.item-card-section-description,
.item-card-favourites {
  margin-bottom: 56px;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-desktop {
    margin-bottom: 80px;
  }
}

.item-card-section-description {
  @include on-desktop {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
  }

  .item-card-description {
    grid-column: 1 / span 12;
  }

  .item-card-description__tech-specs {
    grid-column: 14 / span 11;
  }
}