.backNav {
max-width: 66px;
margin: 20px 0 7px;

@include inline-padding;

@include on-mobile {
  margin: 24px 0 16px;
}

  &Content {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-white);
    cursor: pointer;

    &:hover {
    color: var(--color-accent);
  }
  }
}