@mixin on-desktop {
  @media (min-width: 1201px) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: 641px) and (max-width: 1200px) {
    @content;
  }
}

@mixin on-mobile {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin inline-padding {
  @include on-desktop {
    padding-inline: 120px;
  }

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-mobile {
    padding-inline: 20px;
  }
}