@use '../../styles/mixins.scss' as *;

.home {
    
    &__title {
        color: var(--color-white);
    }
    
    &__container {
        @include inline-padding;
    }

    &__slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      &-container {
        display: flex;
        width: 800px;
        height: 200px;
        gap: 19px;
      }

      &__banner {
        width: 100%;
        height: auto;
      }

      &-button {
        width: 32px;
        height: 189px;
        background-color: var(--color-surface-2);
        color: var(--color-white);
        border: none;
      }

      &-dots {
        display: flex;
        justify-content: center; 
        gap: 5px;
        margin-top: 8px;
        
      }

      &-dot {
        background-color: var(--color-elements);
        width: 14px;
        height: 4px;
      }
    }
}