.catalog {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-black);
  margin-top: 40px;

  @include on-mobile {
    margin-top: 24px;
  }

  @include inline-padding;
  
  &__top {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 8px;
    color: var(--color-white);
    margin: 0 0 8px ;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 48px;
    }
  }

  &__subtitle {
    margin: 0;
    color: var(--color-secondary);
    font-size: 14px;
    font-weight: 600;
  }

  &__filters {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    
    @include on-mobile {
      margin-top: 32px;
    }


    @include on-tablet {
      justify-content: flex-start;
    }
    
    @include on-desktop {
      justify-content: flex-start;
    }
  }

  &__filterGroup {
    display: flex;
    flex-direction: column;
  }

  &__filterLabel {
    color: var(--color-secondary);
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 4px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    flex-grow: 1;
    min-height: 400px;
    margin: 20px 0;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;

  &__btn {
    background: var(--color-placeholder);
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
