.productCardWrapper {
  box-sizing: border-box;
  display: flex;
  width: 272px;
  min-height: 506px;
  padding: 32px 32px 80px;
  gap: 8px;
  background-color: #161827;
  justify-content: space-between;
  position: relative;
  text-decoration: none;

  @include on-mobile {
    width: 212px;
    min-height: 439px;
  }

  @include on-tablet {
    width: 237px;
    min-height: 512px;
  }
}

.imageContainer {
  position: relative;
  object-fit: cover;
  box-sizing: border-box;
  justify-content: center;
  width: 208px;
  height: 196px;

  @include on-mobile {
    width: 148px;
    height: 129px;
  }

  @include on-tablet {
    width: 173px;
    height: 181px;
  }
}

.title {
  box-sizing: border-box;
  padding-top: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #f1f2f9;

  @include on-mobile {
    width: 148px;
  }

  @include on-tablet {
    width: 173px;
  }
}

.price {
  box-sizing: border-box;
  display: flex;
  padding-bottom: 8px;
  width: auto;
  height: auto;

  &Tag {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #f1f2f9;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    @include on-mobile {
      width: 51px;
      height: 31px;
    }

    @include on-tablet {
      width: 51px;
      height: 31px;
    }
  }

  &Old {
    text-decoration: line-through;
    color: #75767f;
    font-weight: 600;
  }
}

.divider {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #3b3e4a;
}

.specs {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;

  @include on-mobile {
    width: 148px;
  }

  @include on-tablet {
    width: 173px;
  }

  &Item {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 21px;
    font-weight: 600;
  }

  &Label {
    color: #75767f;
  }

  &Value {
    color: #f1f2f9;
  }
}

.buttonContainer {
  position: absolute;
  padding-left: 16px;
  width: 208px;
  height: 40px;
  bottom: 32px;
  left: 16px;
  display: flex;
  gap: 8px;

  @include on-mobile {
    width: 148px;
    height: 40px;
  }

  @include on-tablet {
    width: 173px;
    height: 40px;
  }

  .addToFavourite {
    color: white;
    background-color: #323542;
    width: 40px;
    height: 40px;
    font-size: 28px;
    line-height: 11px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;

    @include on-mobile {
      width: 40px;
      height: 40px;
    }

    @include on-tablet {
      width: 40px;
      height: 40px;
    }

    &:hover {
      background-color: #4b4e61;
    }
  }
}