.productCardWrapper {
  box-sizing: border-box;
  flex: 0 1 212px;
  background-color: var(--color-surface-1);
  border: 2px solid transparent;
  align-self: flex-start;
  height: auto;
  
  &:hover {
    border: 2px solid var(--color-surface-2);
  }
}

.productCard {
  padding: 32px 32px 20px;
}

.productCardGeneralLink {
  text-decoration: none ;
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 208 / 196;
  img {
    object-fit: contain;
  }
}

.title {
  color: var(--color-white);
  height: 45px;
  margin: 0;
  word-break: break-word;
  overflow-wrap: anywhere;
  flex-shrink: 0;
  margin: 8px 0 ;
}

.price {
  &Tag {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &Regular {
    margin: 0;
    font-weight: 800;
    font-size: 22px;
    color: var(--color-white);
  }

  &Old {
    text-decoration: line-through;
    color: var(--color-secondary);
    font-size: 22px;
    font-weight: 600;
    margin: 0;
  }
}

.divider {
  width: 100%;
  border: 1px solid var(--color-elements);
  margin: 8px 0;
}

.specs {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &Item {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 21px;
    font-weight: 600;
  }

  &Label {
    color: var(--color-secondary);
  }

  &Value {
    color: var(--color-white);
  }
}

.buttonContainer {
  display: flex;
  gap: 8px;
  width: 100%;
  height: 40px;
  margin-top: 8px;

  .addToFavourite {
    background-color: var(--color-surface-2);
    min-width: 40px;
    height: 40px;
    
    color: white;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: var(--color-icons);
    }
  }
}

