.cartWrapper {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 24px 16px;
  margin: 0 auto;
  font-family: sans-serif;

  @include on-tablet {
    padding: 40px 24px;
  }

  @include on-desktop {
    padding: 40px 32px;
  }
}

.title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 32px;

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 48px;
  }
}

.mainContent {
  @include on-desktop {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
}

.itemsGrid {
  display: grid;
  gap: 16px;
  margin-bottom: 24px;
  min-height: 200px;

  @include on-desktop {
    flex-grow: 1;
  }
}

.checkout {
  border: 1px solid #3B3E4A;
  padding: 16px 0 24px;
  text-align: center;

  @include on-desktop {
    height: 206px;
    width: 368px;
    flex-shrink: 0;
  }
}

.total {
  margin-bottom: 32px;
}

.totalPrice {
  display: block;
  font-size: 32px;
  font-weight: 800;
}

.totalItems {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #89939A;
}

.separator {
  border-top: 1px solid #3B3E4A;
  margin: 16px auto;
  width: 240px;

  @include on-tablet {
    width: 544px;
  }

  @include on-desktop {
    width: 320px;
  }
}

.checkoutBtn {
  background-color: var(--color-placeholder);
  width: 240px;
  height: 48px;
  border: none;
  padding: 13.5px 85.5px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease;

  @include on-tablet {
    width: 544px;
  }

  @include on-desktop {
    width: 320px;
  }

  &:hover {
    background-color: #7c3aed;
  }
}