:root {
  --color-black: #0F1121;
  --color-surface-1: #161827;
  --color-surface-2: #323542;
  --color-elements: #3B3E4A;
  --color-icons: #4A4D58;
  --color-secondary: #75767F;
  --color-white: #F1F2F9;
  --color-accent: #905BFF;
  --color-green: #27AE60;
  --color-red: #EB5757;
  --color-placeholder: #ed31f1;
  --color-accent-2: #A378FF;
  --color-gradient-1: #12131B00;
  --color-gradient-2: #000000;
  --color-gradient-fonts-1:#FFFFFF;
  --color-gradient-fonts-2:#B1C1D2;
}

.light-theme {
  --color-black: #FFFFFF;
  --color-surface-1: #F5F6FA;      
  --color-surface-2: #E6E8EF;
  --color-elements: #DADDE6;      
  --color-icons: #8E8E93;         
  --color-secondary: #6E6E73;     
  --color-white: #1A1A1A;          
  --color-accent: #7A3FFF;        
  --color-green: #27AE60;          
  --color-red: #D64545;          
  --color-placeholder: #B0B3BA;    
  --color-accent-2: #A378FF;       
  --color-gradient-1: #FFFFFF00;
  --color-gradient-2: #BEBEBE;
  --color-gradient-fonts-1:#242424;
  --color-gradient-fonts-2:#96A9BA;
}


