.ToggleGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: horizontal;
  gap: 8px;

  &__item {
    font-family: inherit;
    background-color: var(--color-surface-1);
    width: 32px;
    height: 32px;
    place-content: center center;
    border: none;
    color: var(--color-white);
    
    &:hover {
      background-color: var(--color-elements);
    }

    &[data-state="on"] {
      background-color: var(--color-accent);
    }
  }
}


