.ToggleGroup {
  display: flex;
  flex-direction: horizontal;
  gap: 8px;

  &__item {
    font-family: inherit;
    background-color: var(--color-surface-1);
    width: 32px;
    height: 32px;
    align-content: center;
    justify-content: center;

    border: none;
    color: var(--color-white);
    
    &:hover {
      background-color: var(--color-elements);
    }

    &[data-state="on"] {
      background-color: var(--color-accent);
    }
  }
}


