.carousel {
  // margin: 80px 0;

  // @include on-tablet {
  //   margin: 64px 0;
  // }

  // @include on-mobile {
  //   margin: 56px 0;
  // }

  &Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 24px;

    &Title {
      color: var(--color-white);
      margin: 0;
    }

    &Pag {
      display: flex;
      gap: 16px;
    }
  }

}