.cartWrapper {
  @include inline-padding;
}

.title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 32px;
  color: var(--color-white);

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 48px;
  }
}

.mainContent {
  @include on-desktop {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
}

.itemsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkout {
  border: 1px solid var(--color-secondary);
  padding: 16px 0 24px;
  text-align: center;

  @include on-desktop {
    width: 30%;
    max-width: 368px;
    flex-shrink: 0;
  }
}

.total {
  margin-bottom: 32px;
}

.totalPrice {
  display: block;
  font-size: 32px;
  font-weight: 800;
}

.totalItems {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-secondary);
}

.separator {
  border-top: 1px solid var(--color-secondary);
  margin: 16px auto;
  width: 60%;
  max-width: 544px;

  @include on-tablet {
    width: 100%;
  }

  @include on-desktop {
    width: 60%;
  }
}

.checkoutBtn {
  background-color: var(--color-placeholder);
  width: 60%;
  max-width: 544px;
  height: 48px;
  border: none;
  padding: 13.5px 0;
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease;

  @include on-tablet {
    width: 100%;
  }

  @include on-desktop {
    width: 60%;
  }

  &:hover {
    background-color: var(--color-placeholder);
  }
}