.cartWrapper {
  margin-bottom: 80px;

  @include on-desktop {
    margin: 0 auto;
    max-width: 1200px;
  }

  @include on-tablet {
    margin-bottom: 64px;
    @include inline-padding;
  }

  @include on-mobile {
    margin-bottom: 56px;
    @include inline-padding;
  }
}

.title {
  font-size: 32px;
  font-weight: 800;
  margin: 0 0 32px;
  color: var(--color-white);

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 48px;
  }
}

.mainContent {
  display: flex;
  gap: 16px;

  @include on-tablet {
    flex-direction: column;
    gap: 32px;
  }

  @include on-mobile {
    flex-direction: column;
    gap: 32px;
  }
}

.itemsList {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  gap: 16px;
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  gap: 16px;
}

.cartEmptyImage {
  position: relative;
  width: 160px;
  height: 160px;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  gap: 24px;
  height: 206px;
  width: 30%;
  max-width: 368px;
  border: 1px solid var(--color-secondary);
  padding: 23px 24px;

  @include on-tablet {
    height: 190px;
    max-width: none;
    width: 100%;
  }

  @include on-mobile {
    max-width: none;
    width: 100%;
  }
}

.total {
  color: var(--color-white);
}

.totalPrice {
  display: block;
  font-size: 32px;
  font-weight: 800;
}

.totalItems {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-secondary);
}

.separator {
  border-top: 1px solid var(--color-secondary);
  width: 100%;
}
