.capacityBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 7px 8px 4px;
    cursor: pointer;

    &:hover {
        background-color: var(--color-icons);
    }

    &:active {
        background-color: var(--color-white);
        color: var(--color-black);
    }

    &[data-state='on'] {
        background-color: var(--color-white);
        color: var(--color-black);
    }
}

.link {
    text-decoration: none;
}