@use '../../styles/mixins' as *;

.header {
    background-color: var(--color-black);
    display: flex;
    width: 100%;
    height: 64px;
    align-items: center;
    box-shadow: 0 1px var(--color-surface-2);

    @include on-tablet {
      height: 48px;
    }

    @include on-mobile {
      height: 48px;
    }

    &__logo {
      width: 80px;
      height: 26px;
      margin: 0 24px;
      
      @include on-tablet {
        width: 64px;
        height: 22px;
        margin: 0 16px;
      }
    }

    &__lists {
        list-style: none;
        display: flex;
        gap: 64px;
        padding: 0;
        margin-left: 24px;

        @include on-tablet {
        gap: 32px;
      }

      @include on-mobile {
        gap: 0;
      }
    }

    &__nav-link {
      color: var(--color-secondary);
      text-transform: uppercase;
      text-decoration: none;
      position: relative;
      transition: color 0.3s ease;
      

      @include on-mobile{
        display: none;
      }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -23px;
    height: 3px;
    width: 0;
    background-color: var(--color-white);
    transition: width 0.3s ease;
  }

  &:hover {
    color: var(--color-white);

    &::after {
      width: 100%;
    }
  }
}

    &__right {
        display: flex;
        justify-content: space-between;
        margin-left: auto;


        &-favourites {
            width: 64px;
            height: 64px;
            box-shadow: -1px 0 var(--color-surface-2);
            display: flex;
            justify-content: center;
            align-items: center;
            
            @include on-tablet {
              width: 48px;
              height: 48px;
            }

             @include on-mobile{
               display: none;
             }

            &:hover {
                background-color: var(--color-icons);
            }

        }

        &-cart {
           width: 64px;
            height: 64px;
            box-shadow: -1px 0 var(--color-surface-2) ;
            display: flex;
            justify-content: center;
            align-items: center;

            @include on-tablet {
              width: 48px;
              height: 48px;
            }

            @include on-mobile{
               display: none;
             }

            &:hover {
                background-color: var(--color-icons);
            }
    }
}
}

.link-is-active {
    color: var(--color-white);

    &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -23px;
    height: 3px;
    width: 100%;
    background-color: var(--color-white);
    transition: width 0.3s ease;
  }
}

.header__burger-menu {
  display: none;

  @include on-mobile {
  width: 48px;
  height: 48px;
  box-shadow: -1px 0 var(--color-surface-2) ;
  display: flex;
  justify-content: center;
  align-items: center;
  }
}