.breadCrumbs {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 24px;
    @include inline-padding;

    @include on-tablet {
        margin-bottom: 40px;
    }

    @include on-desktop {
        margin-bottom: 40px;
    }
}

.homeIcon {
    width: 16px;
    height: 16px;
    color: var(--color-white);

    &:hover {
        color: var(--color-accent);
    }
}

.arrowRight {
    width: 16px;
    height: 16px;
    color: var(--color-icons);
    flex-shrink: 0;
}

.breadcrumbLink {
    color: var(--color-white);
    text-decoration: none;

    &:hover {
        color: var(--color-accent);
    }
    
    &Active {
      color: var(--color-secondary);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
    }
}
