.breadCrumbs {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    overflow: hidden;
    white-space: nowrap;

    @include inline-padding
}

.homeIcon {
    width: 16px;
    height: 16px;
    color: var(--color-white);
}

.arrowRight {
    width: 16px;
    height: 16px;
    color: var(--color-icons);
    flex-shrink: 0;
}

.breadcrumbLink {
    color: var(--color-white);
    text-decoration: none;
    
    &Active {
      color: var(--color-secondary);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
    }
}
