.footer {
  width: 100%;
  background-color: var(--color-black);
  box-shadow: 0 -1px var(--color-surface-2);
  z-index: 10;

  &Content {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;

    @include on-mobile {
      flex-direction: column;
      align-items: flex-start;
      padding: 16px;
    }
  }

  &Logo {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &Lists {
    display: flex;
    gap: 106px;
    list-style: none;
    padding: 0;

    @include on-mobile {
      flex-direction: column;
      gap: 12px;
      margin: 24px 0;
    }
  }

  &NavLink {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-secondary);
    }
  }

  &Right {
    display: flex;
    align-items: center;

    &Text {
      color: var(--color-secondary);
    }
  }

  .footerTopBtn {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: 0;
  }
}